<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='baseguide.css') }}">
    <title>GARCH Demo</title>
  </head>
  <body>
  <div class="text-center">
    <p> You chose {{ chosen }}. The given model for this is:</p>
    <table class = "table">
        <tr>
            <th>Constant (Mean Model)</th>
            <th>AR Lag 1 Coefficient</th>
            <th>Constant (GARCH Model)</th>
            <th>Alpha, Lag 1</th>
            <th>Beta, Lag 1</th>
            <th>Degrees of Freedom</th>
        </tr>
        <tr class = "text-center">
            <td>{{ model[0] }}</td>
            <td>{{ model[1] }}</td>
            <td>{{ model[2] }}</td>
            <td>{{ model[3] }}</td>
            <td>{{ model[4] }}</td>
            <td>{{ model[5] }}</td>
        </tr>
    </table>
    <h3>Stock Symbol</h3>
      <form action="" method="post" name="stock">
          {{ form.hidden_tag() }}
          <p>Enter the stock you want to research:</p>
          <div class = "col col-sm-2 col-sm-offset-5">{{ form.stock(size=10) }}</div>
          <div style="clear:both"></div>
          <br>
          <p><input class = "btn col-sm-2" type="submit" value="Research"></p>
      </form>
    </div>
  </body>
</html>