<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='baseguide.css') }}">
    <script src="{{ url_for('static',filename='Chart.js') }}"></script>
    <title>GARCH Demo</title>
  </head>
  <body>
  <div class="text-center">
    <p> You chose {{ chosen }}. The given model for this is:</p>
    <table class = "table">
        <tr>
            <th>Constant (Mean Model)</th>
            <th>AR Lag 1 Coefficient</th>
            <th>Constant (GARCH Model)</th>
            <th>Alpha, Lag 1</th>
            <th>Beta, Lag 1</th>
            <th>Degrees of Freedom</th>
        </tr>
        <tr class = "text-center">
            <td>{{ model[0] }}</td>
            <td>{{ model[1] }}</td>
            <td>{{ model[2] }}</td>
            <td>{{ model[3] }}</td>
            <td>{{ model[4] }}</td>
            <td>{{ model[5] }}</td>
        </tr>
    </table>
      <div class="text-center">
          <canvas id="my_cv" width="800" height="400" style="align: center"></canvas>
        </div>
      <canvas id="sr_chart" width="600" height="400"></canvas>
      <canvas id="visitors-graph" class="right" height="340" width="580"></canvas>
    <h3>Stock Symbol</h3>
      <form action="" method="post" name="stock">
          {{ form.hidden_tag() }}
          <p>Enter the stock you want to research:</p>
          <div class = "col col-sm-2 col-sm-offset-5">{{ form.stock(size=10) }}</div>
          <div style="clear:both"></div>
          <br>
          <p><input class = "btn col-sm-2" type="submit" value="Research"></p>
      </form>
    </div>
  <script>
      var ctx1 = document.getElementById('my_cv').getContext('2d');
      var ctx2 = document.getElementById("sr_chart");
      var cv_data = {
          labels: [{% for i in range(1, (dates|length - 1)) %}
                        "{{dates[i]}}",
                    {% endfor %}],
           datasets: [
              {
                    label: "Conditional Volatility",
                    fillColor: 'rgba(255,255,255,0)',
                    strokeColor: 'rgba(220,180,0,1)',
                    pointColor: 'rgba(220,180,0,1)',
                    data : [{% for i in range(1, (cv|length - 1))%}
                              {{cv[i]}},
                            {% endfor %}]
              }]
        }



      var cv_chart = new Chart(ctx1, {
          type: 'line',
          data: cv_data
      });
  </script>
  </body>
</html>